transformers
torch
#gradio<4
torchaudio
pyaudio
#whisper
soundfile
flask-cors
#datasets
accelerate
librosa
soundfile
diart
whisper_timestamped
uvicorn
fastapi
python-multipart

resampy

openai-whisper

datasets[audio]
